body {
    background-color: #2c2f33;
    color: #ffffff;
}

.card {
    background-color: #3c4043;
    border: none;
}

.form-control,
.form-select {
    background-color: #202225;
    color: #ffffff;
    border: 1px solid #555;
}

.btn-primary {
    background-color: #5865f2;
    border: none;
}

.btn-primary:hover {
    background-color: #4752c4;
}