body {
    background-color: #2c2f33;
    color: #ffffff;
}

.form-control,
.form-select {
    background-color: #202225;
    color: #ffffff;
    border: 1px solid #555;
}

.btn-primary {
    background-color: #5865f2;
    border: none;
}

.btn-primary:hover {
    background-color: #4752c4;
}

.btn-secondary {
    background-color: #99aab5;
    border: none;
}

.btn-secondary:hover {
    background-color: #7f8c8d;
}